
imageio==2.34.1
importlib-metadata==7.1.0
importlib-resources==6.4.0
ipykernel==6.29.4
ipython==8.18.1
ipywidgets==8.1.2
jupyter-client==8.6.1
jupyter-core==5.7.2
jupyterlab-widgets==3.0.10
kiwisolver==1.4.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
numpy==1.26.4
packaging==24.0
pillow==10.3.0
pip==23.3.1
python==3.9.19
scikit-image==0.18.1
scikit-learn==1.4.2
scipy==1.13.0
sqlite==3.41.2
stack-data==0.6.3
tornado==6.4.3
widgetsnbextension==4.0.10
zipp==3.18.1
